<mat-toolbar color="primary" class="shadow-sm px-3">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="d-flex align-items-center ms-2">
    <div
      class="bg-white bg-opacity-25 rounded-circle d-flex justify-content-center align-items-center me-2"
      style="width: 38px; height: 38px"
    >
      <mat-icon class="text-white">business</mat-icon>
    </div>

    <div class="d-flex flex-column lh-1">
      <span class="fw-bold fs-6">Grupo Tap</span>
      <small class="mt-1"> Panel administrativo </small>
    </div>
  </div>

  <span class="flex-grow-1"></span>
  <div class="d-flex align-items-center gap-2">
    <div class="d-flex flex-column lh-1">
      <span class="fw-bold fs-6">Mi cuenta</span>
    </div>
  </div>
</mat-toolbar>
