<mat-toolbar color="primary" class="shadow-sm px-3 bg-dark">
  <div class="d-flex align-items-center ms-2">
    <div class="d-flex flex-column lh-1">
      <span class="fw-bold fs-6 text-white">Grupo Tap</span>
      <small class="mt-1 text-white"> Panel administrativo </small>
    </div>
  </div>

  <span class="flex-grow-1"></span>
  <div class="d-flex align-items-center gap-2">
    <div class="d-flex flex-column lh-1">
      <span class="fw-bold fs-6 text-white">Mi cuenta</span>
    </div>
  </div>
</mat-toolbar>
