<app-header *ngIf="isLoggedIn && isBrowser" ngSkipHydration (toggleSidebarEvent)="onToggleSidebar()"></app-header>

<div class="layout" *ngIf="isLoggedIn && isBrowser">
  <app-sidebar ngSkipHydration [collapsed]="isSidebarCollapsed"></app-sidebar>
  <main class="content">
    <router-outlet></router-outlet> <!-- 🔥 Aquí se cargan todas las rutas logueadas -->
  </main>
</div>

<!-- Para login y register -->
<main *ngIf="!isLoggedIn || !isBrowser">
  <router-outlet></router-outlet> <!-- 🔥 Aquí se cargan login/register -->
</main>
